<div class="app container">
  <header class="row">
      <div class="col-lg-12">
        <h1 class="title mt-4 mb-4 text-center">Weight Control</h1>
      </div>
      <nav class="col-lg-12">
        <ul class="nav nav-pills nav-fill">
          <li class="nav-item">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Graph</a>
          </li>
          <li class="nav-item">
            <a routerLink="/add" routerLinkActive="active" class="nav-link">Add</a>
          </li>
          <li class="nav-item">
            <a routerLink="/goal" routerLinkActive="active" class="nav-link">Goal</a>
          </li>
          <li class="nav-item">
            <a routerLink="/settings" routerLinkActive="active" class="nav-link">Settings</a>
          </li>
        </ul>
      </nav>
    </header>

    <router-outlet></router-outlet>
</div>
