<div class="flex-row justify-content">
  <form [formGroup]=addWeightForm (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="date">{{ initialDateText }}:</label>
      <input type="date" class="form-control" formControlName="date">
    </div>
    <div class="form-group">
      <label for="weight">{{ initialAmountText }}:</label>
      <input type="number" class="form-control" step="0.1" placeholder="Example: 60.5" required autofocus formControlName="amount">
    </div>
    <div *ngIf="type === 'goal'">
      <div class="form-group">
        <label for="date">Final Date:</label>
        <input type="date" class="form-control" formControlName="targetDate">
      </div>
      <div class="form-group">
        <label for="weight">Desired weight:</label>
        <input type="number" class="form-control" step="0.1" placeholder="Example: 60.5" required formControlName="targetAmount">
      </div>
    </div>
    <button class="btn btn-primary btn-block btn-lg" type="submit" [disabled]="!addWeightForm.valid">{{ buttonText }}</button>
    <div class="alert alert-success mt-3" role="alert" *ngIf="stateMessage.length">
      <p>{{ stateMessage }}</p>
    </div>
  </form>
</div>