<div class="flex-column">
  <div class="p-2">
    <h4>Clear data</h4>
    <p>Remove all stored data in the application.</p>
    <button class="btn btn-danger btn-block" (click)="onClickClearData()">Clear Data</button>
    <div class="alert alert-success mt-3" role="alert" *ngIf="clearDataMessage.length">
      <p>{{ clearDataMessage }}</p>
    </div>
  </div>
  <div class="p-2">
    <h4>Export Data (CSV)</h4>
    <p>Export your stored data as CSV file.</p>
    <button class="btn btn-info btn-block" (click)="onClickExportData()">Export Data</button>
    <div class="alert alert-success mt-3" role="alert" *ngIf="exportDataMessage.length" [ngClass]="{ 'alert-success': exportDataSuccess, 'alert-danger': !exportDataSuccess }">
      <p>{{ exportDataMessage }}</p>
    </div>
  </div>
  <div class="p-2">
    <h4>Import Data (CSV)</h4>
    <p>Import an exported CSV file to load the data. This will overwrite your current data.</p>
    <div class="form-group">
      <input type="file" class="form-control-file" (change)="onFileChange($event)">
    </div>
    <button class="btn btn-warning btn-block" (click)="onClickImportData()">Import Data</button>
    <div class="alert alert-success mt-3" role="alert" *ngIf="importDataMessage.length" [ngClass]="{ 'alert-success': importDataSuccess, 'alert-danger': !importDataSuccess }">
      <p>{{ importDataMessage }}</p>
    </div>
  </div>
</div>